.accordion__item {
  display: grid;
  color: white;
  border-top: 1px solid #ffffff;
  overflow: hidden;
  gap: 25px;
  padding: 25px 0;
}

.accordion__container {
  display: flex;
  flex-direction: column;
}

.accordion__question {
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.3s;
}

.accordion__content {
  cursor: pointer;
}

.open {
  background: red;
}
