.header {
  display: flex;
  color: #ffffff;
  align-items: center;
  margin: 23px 0;
  padding: 12px 0;

  background-color: #484283;
}

.logo {
  font-size: 1.875rem;
  font-weight: 700;
}

.nav {
  margin-left: auto;
}
