.footer {
  background-color: var(--footer-backgound-color);
  margin-top: auto;
}

.footer__bar {
  display: flex;
  align-items: center;
  padding: 23px 0;
}

.logo {
  color: #ffffff;
}

.nav {
  margin-left: auto;
}
