.nav {
  color: var(--navlink-base-color);
  font-weight: 600;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__item:last-child a:hover {
  color: var(--navlink-base-color);
  text-decoration: none;
}
